@model BoardGameApp.Models.ViewModels.GameDetailsViewModel
@{
    ViewData["Title"] = $"Hra {Model.Game.Name}";
}

@if (Model != null)
{
    <p><b>Název hry:</b> @Model.Game.Name</p>
    <p><b>Počet her:</b> @Model.Game.Plays.Count</p>
    @if (Model.Game.HighestScoreWins && Model.BestScore != null)
    {
        <p><b>Bodový rekord:</b> @Model.BestScore.Item1.Name @Model.BestScore.Item2 @(Model.BestScore.Item3 != null ? $"({Model.BestScore.Item3.Name})" : "")</p>
    }

    @if (Model.LastPlay != null && Model.LastPlayPlayers != null)
    {
        <p><b>Poslední hra:</b></p>
        <p>@Model.LastPlay.Created.ToShortDateString()</p>
        @foreach (var i in Model.LastPlayPlayers)
        {
            <p>@i.Item1.Name @i.Item2 @(i.Item3 != null ? $"({i.Item3.Name})" : "")</p>
        }
    }

    @if (Model.PlayerWithWins != null)
    {
        <p><b>Výherci:</b></p>
        @foreach (var p in Model.PlayerWithWins)
        {
            <p>@p.Key.Name: @p.Value</p>
        }
    }
}